.broiler-images {
    position: relative;  /* Position relative for the absolute positioning of the child */
    width: 100vw;        /* Full viewport width */
    height: 100vh;       /* Full viewport height */
    overflow: hidden;    /* Hide any overflow */
}

.broiler-structure-image {
    position: absolute;   /* Position absolute to allow stretching */
    top: 0;              /* Align to the top */
    left: 0;             /* Align to the left */
    width: 100%;         /* Full width */
    height: 100%;        /* Full height */
    object-fit: cover;   /* Cover the container without maintaining aspect ratio */
}
